<?xml version="1.0"?>
<config>
    <modules>
        <Hackathon_Gamification>
            <version>0.0.6</version>
        </Hackathon_Gamification>
    </modules>
    <global>
        <blocks>
            <hackathon_gamification>
                <class>Hackathon_Gamification_Block</class>
            </hackathon_gamification>
            <hackathon_gamification_adminhtml>
                <class>Hackathon_Gamification_Block_Adminhtml</class>
            </hackathon_gamification_adminhtml>
        </blocks>
        <models>
            <hackathon_gamification>
                <class>Hackathon_Gamification_Model</class>
                <resourceModel>hackathon_gamification_resource</resourceModel>
            </hackathon_gamification>
            <hackathon_gamification_resource>
                <class>Hackathon_Gamification_Model_Resource</class>
                <entities>
                    <rule>
                        <table>hackathon_gamification_rule</table>
                    </rule>
                </entities>
            </hackathon_gamification_resource>
        </models>
        <helpers>
            <hackathon_gamification>
                <class>Hackathon_Gamification_Helper</class>
            </hackathon_gamification>
        </helpers>
        <resources>
            <hackathon_gamification_setup>
                <setup>
                    <module>Hackathon_Gamification</module>
                </setup>
            </hackathon_gamification_setup>
        </resources>
        <events>
            <model_save_after>
                <observers>
                    <hackathon_gamification>
                        <class>hackathon_gamification/observer</class>
                        <method>modelSaveAfter</method>
                    </hackathon_gamification>
                </observers>
            </model_save_after>
        </events>
        <hackathon_gamification_events>
            <checkout_cart_add_product_complete>
                <label>Put product in cart</label>
                <condition_form />
                <validator />
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <label>Remove product from cart</label>
                <condition_form />
                <validator>hackathon_gamification/validator_score_min</validator>
            </sales_quote_remove_item>
            <controller_action_predispatch_catalogsearch_result_index>
                <label>Search query</label>
                <condition_form />
                <validator>hackathon_gamification/validator_search_query</validator>
            </controller_action_predispatch_catalogsearch_result_index>
        </hackathon_gamification_events>
    </global>
    <frontend>
        <!--
        <routers>
           <hackathon_gamification>
               <use>standard</use>
               <args>
                   <module>Hackathon_Gamification</module>
                   <frontName>mgt</frontName>
               </args>
           </hackathon_gamification>
        </routers>
        -->
        <events>
            <checkout_cart_add_product_complete>
                <observers>
                    <hackathon_gamification>
                        <class>hackathon_gamification/observer</class>
                        <method>trackEvent</method>
                    </hackathon_gamification>
                </observers>
            </checkout_cart_add_product_complete>
            <sales_quote_remove_item>
                <observers>
                    <hackathon_gamification>
                        <class>hackathon_gamification/observer</class>
                        <method>trackEvent</method>
                    </hackathon_gamification>
                </observers>
            </sales_quote_remove_item>
            <controller_action_predispatch_catalogsearch_result_index>
                <observers>
                    <hackathon_gamification>
                        <class>hackathon_gamification/observer</class>
                        <method>trackEvent</method>
                    </hackathon_gamification>
                </observers>
            </controller_action_predispatch_catalogsearch_result_index>
            <hackathon_gamification_achievement>
                <observers>
                    <hackathon_gamification_achievement>
                        <class>hackathon_gamification/achievement_observer</class>
                        <method>setAchievement</method>
                    </hackathon_gamification_achievement>
                </observers>
            </hackathon_gamification_achievement>
        </events>
        <layout>
            <updates>
                <hackathon_gamification>
                    <file>hackathon_gamification.xml</file>
                </hackathon_gamification>
            </updates>
        </layout>
        <translate>
            <modules>
                <Hackathon_Gamification>
                    <files>
                        <default>Hackathon_Gamification.csv</default>
                    </files>
                </Hackathon_Gamification>
            </modules>
        </translate>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <hackathon_gamification>
                    <file>hackathon_gamification.xml</file>
                </hackathon_gamification>
            </updates>
        </layout>
        <translate>
            <modules>
                <Hackathon_Gamification>
                    <files>
                        <default>Hackathon_Gamification.csv</default>
                    </files>
                </Hackathon_Gamification>
            </modules>
        </translate>
    </adminhtml>
    <!--
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hackathon_Gamification before="Mage_Adminhtml">Hackathon_Gamification_Adminhtml</Hackathon_Gamification>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    -->
    <!--
    <crontab>
        <jobs>
            <hackathon_gamification_cron>
                <schedule>
                    <cron_expr>0,45 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>hackathon_gamification/observer::methodName</model>
                </run>
            </hackathon_gamification_cron>
        </jobs>
    </crontab>
    -->
</config>
